import java.time.*
Date now = new Date()

process.cache = "lenient"

params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "pipeline-info"
    debug = false
    help = false

    species = null
    release = null
    sample_sheet = null
    sample_dir = null
    strain_dir = null

    // 
}

outputDir = "GTcheck_${params.day}"

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
