/*
    Rockfish Configuration
*/

process {
    executor = "slurm"
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    time = "1.hour"
    cpus = 1
    memory = "4G"
    partition = "parallel"

    withName: "BCFTOOLS_.*" { container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1" }
    withName: "PYTHON_.*"   { container = "docker://andersenlab/numpy:20250224" }
    
}

executor {
    queueSize=100
    submitRateLimit=10
}

workflow {
    workDir = "/scratch4/eande106"
}

params {
    baseDir = '/vast/eande106'
    workDir = '/vast/eande106/work'
    dataDir = '/vast/eande106/data'
    softwareDir = '/data/eande106/software'

    genomes {
        "c_elegans" {
            fasta           = "${params.dataDir}/c_elegans/genomes/PRJNA13758/WS283/c_elegans.PRJNA13758.WS283.genome.fa.gz"
            fasta_index     = "${params.dataDir}/c_elegans/genomes/PRJNA13758/WS283/c_elegans.PRJNA13758.WS283.genome.fa.gz.fai"
            bam_dir         = "${params.dataDir}/c_elegans/WI/alignments"
            variation_dir   = "${params.dataDir}/c_elegans/WI/variation"
            concordance_dir = "${params.dataDir}/c_elegans/WI/concordance"
            ref_strain      = "N2"
        }
        "c_briggsae" {
            fasta           = "${params.dataDir}/c_briggsae/genomes/QX1410_nanopore/Feb2020/c_briggsae.QX1410_nanopore.Feb2020.genome.fa.gz"
            fasta_index     = "${params.dataDir}/c_briggsae/genomes/QX1410_nanopore/Feb2020/c_briggsae.QX1410_nanopore.Feb2020.genome.fa.gz.fai"
            bam_dir         = "${params.dataDir}/c_briggsae/WI/alignments"
            variation_dir   = "${params.dataDir}/c_briggsae/WI/variation"
            concordance_dir = "${params.dataDir}/c_briggsae/WI/concordance"
            ref_strain      = "QX1410"
        }
        "c_tropicalis" {
            fasta           = "${params.dataDir}/c_tropicalis/genomes/NIC58_nanopore/June2021/c_tropicalis.NIC58_nanopore.June2021.genome.fa.gz"
            fasta_index     = "${params.dataDir}/c_tropicalis/genomes/NIC58_nanopore/June2021/c_tropicalis.NIC58_nanopore.June2021.genome.fa.gz.fai"
            bam_dir         = "${params.dataDir}/c_tropicalis/WI/alignments"
            variation_dir   = "${params.dataDir}/c_tropicalis/WI/variation"
            concordance_dir = "${params.dataDir}/c_tropicalis/WI/concordance"
            ref_strain      = "NIC58"
        }
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
}
